@import '~@angular/material/theming';

@mixin custom-card($theme, $typoConfig){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .custom-card{
    background-color: mat-color($background, card);
        .some-text{
            @include mat-typography-level-to-styles($typoConfig, subheading-1);
            color: mat-color($foreground, text);
        }
        .custom-card-inner{
            height: 80px;
            background-color: mat-color($accent);   
        }
    }
}