@import '~@angular/material/theming';

@mixin client-card($theme){
    $primary: map-get($theme, primary);
    .client-card{
        .client-card-inner{
            height: 150px;
        }
        .client-logo{
        background-color: mat-color($primary);
        height: 50px;
        }
    }
}
