<mat-card class="client-card">
    <mat-card-content class="client-card-inner">
        <mat-card-title>Client Title</mat-card-title>
        <div class="container-fluid h-100">
            <div class="row h-100 d-flex align-items-center">
                <div class="col-md-5">
                    <div class="client-logo"></div>
                </div>
                <div class="col-md-7">
                    <div class="client-name">
                        Pepsi
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>