<div class="wrapper">
  <header class="header d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <span>
            <mat-slide-toggle (change)="onDarkModeChange($event.checked)">Dark Mode</mat-slide-toggle>
          </span>
        </div>
        <div class="col-md-9">
          <nav class="text-right">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="py-5">
    <div class="container">
      <h1 class="mat-display-1">Clients</h1>
      <div class="row">
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
      </div>
      <br /><br />
      <h1 class="mat-display-1">Angular Material Customization</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body text-center">
              <div [ngStyle]="{'height':'80px','background-color':'blueviolet'}" class="mb-3"></div>
              <button mat-flat-button color='accent'>Accent</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body text-center">
              <div [ngStyle]="{'height':'80px','background-color':'blueviolet'}" class="mb-3"></div>
              <button mat-flat-button color='accent'>Accent</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <mat-card class="example-card">
            <mat-card-content>
              <p>Select an option</p>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" color="accent">Option 1</mat-radio-button>
                <mat-radio-button value="2" color="accent">Option 2</mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button [disableRipple]="true" color='accent'>Accent</button>
              <button mat-raised-button color='accent'>Accent</button>
              <button mat-stroked-button color='primary'>Accent</button>
              <button mat-button color='accent'>Accent</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</div>