@import '../assets/styles/helpers/variables';

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

header{
    height:60px;
    background-color: $theme-color;
    color: whitesmoke;

}
nav{
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: inline;
            a{
                color: whitesmoke;
                padding: 10px;
                text-decoration: none;
            }
        }
    }
}