<div class="wrapper">
  <header class="header d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <mat-slide-toggle (change)="onDarkModeChange($event.checked)">Dark Mode</mat-slide-toggle>
        </div>
        <div class="col-md-9">
          <nav class="text-right">
            <ul>
              <li><a class="nav-text" href="#">HOME</a></li>
              <li><a class="nav-text" href="#">ABOUT</a></li>
              <li><a class="nav-text" href="#">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="py-5">
    <div class="container">
      <h1 class="mat-display-1">Clients</h1>
      <div class="row">
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
        <div class="col-md-3">
          <app-client-card></app-client-card>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
        <div class="col-md-3">
          <app-custom-card></app-custom-card>
        </div>
      </div>
      <br /><br />
      <h1 class="mat-display-1">Angular Material Customization</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body text-center">
              <div [ngStyle]="{'height':'80px','background-color':'blueviolet'}" class="mb-3"></div>
              <button mat-flat-button color='accent'>Accent</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body text-center">
              <div [ngStyle]="{'height':'80px','background-color':'blueviolet'}" class="mb-3"></div>
              <button mat-flat-button color='accent'>Accent</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <mat-card class="example-card">
            <mat-card-content>
              <p>Select an option</p>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" color="accent">Option 1</mat-radio-button>
                <mat-radio-button value="2" color="accent">Option 2</mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button disabled disableRipple color='accent'>Accent</button>
              <button mat-raised-button color='accent'>Accent</button>
              <button mat-stroked-button color='primary'>Accent</button>
              <button mat-button color='accent'>Accent</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <br /><br />
      <h1 class="mat-display-1">Heading</h1>
      <mat-card>
        <mat-card-content>
          <label class="mat-title d-block">Hobbies</label>
          <mat-checkbox class="s-checkbox d-block" id="my-checkbox" value="" color="accent" disableRipple>
            Dance
          </mat-checkbox>
          <mat-checkbox class="s-checkbox d-block" id="my-checkbox1" value="" color="accent">
            Music
          </mat-checkbox>
        </mat-card-content>
      </mat-card>
      <br /><br />
      <h1 class="mat-display-1">Form</h1>
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <div>
                <label class="d-block">Name</label>
                <mat-form-field color="accent" appearance="outline">
                  <input matInput placeholder="Placeholder">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="d-block">Country</label>
              <mat-form-field color="accent" appearance="outline">
                <mat-select>
                  <mat-option value="">All</mat-option>
                  <mat-option value="us">US</mat-option>
                  <mat-option value="in">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, debitis repellat
                    nesciunt ut quas, voluptatibus blanditiis quae quos quo recusandae, autem suscipit pariatur! Id
                    quasi modi, animi porro quis corrupti alias itaque iste, iusto est nisi quibusdam aspernatur illo
                    minima illum natus a quo beatae neque sint accusantium, ad maxime.</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <p>Gender</p>
              <mat-radio-group>
                <mat-radio-button value="m" color="primary">Male</mat-radio-button>
                <mat-radio-button value="f" color="primary">Female</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>