@import '~@angular/material/theming';
@import './helpers/variables';
@import './custom-typography.scss';

@include mat-core($typography-config);


@import '../../app/custom-card/custom-card.component.scss';
@import '../../app/client-card/client-card.component.scss';
@import './components/checkbox';
@import './components/select';
@import './components/radio';
@import './components/table';


$custom-theme-primary: mat-palette($theme-primary);
$custom-theme-accent: mat-palette($theme-accent);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme((
  color: (
    primary: $custom-theme-primary,
    accent: $custom-theme-accent,
    warn: $custom-theme-warn
  ),
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background
));

$custom-theme-dark: mat-dark-theme((
  color: (
    primary: $custom-theme-primary,
    accent: $custom-theme-accent,
    warn: $custom-theme-warn
  ),
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background
));

@mixin app-root-theme($theme){
  $background: map-get($theme, background);
  .wrapper{
    background-color: mat-color($background, background);
  }
}

@mixin typography-color($theme) {
  $foreground: map-get($theme, foreground);
  .mat-display-1{
     color: mat-color($foreground, text);
  }
}

@mixin app-custom-theme($theme){
  @include angular-material-theme($theme);
  @include app-root-theme($theme);
  @include custom-card($theme,$typography-config);
  @include typography-color($theme);
  @include client-card($theme);
  @include custom-checkbox($theme);
  @include custom-radio($theme);
  @include custom-table($theme);
  @include custom-select();
}
@include app-typography($typography-config);

.theme-light{
  @include app-custom-theme($custom-theme);
}

.theme-dark{
  @include app-custom-theme($custom-theme-dark);
}
